.company__container {
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__company {
  width: 28rem;
  height: 12rem;
  background: var(--color-bg-variant);
  /* border: 1px solid transparent; */
  padding: 3rem;
  border-radius: 12px 0 0 12px;
  text-align: center;
  opacity: 0.9;
}

.company-image {
  height: 12rem;
  width: 15rem;
  border-radius: 0 12px 12px 0;
}

/* ================MEDIA QUERIES - SMALL SCREEN ===================== */


@media screen and (max-width: 600px) {
   .company__container {
    overflow: hidden;
   }

   .about__company {
    height: 10rem;
    width: 12rem;
    font-size: small;
    padding: 1.6rem;
   }

   .company-image {
        width: 10rem;
        height: 10rem;
   }
    
   }
  
